################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SnapshillBot.pyproj
/.idea
/.idea
/.idea/scopes
lib
bin
share
include
